[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = {extras = ["markdown"], version = "*"}
pelican-sitemap = "*"

[dev-packages]

[requires]
python_version = "3.10"
