a:link {
    color: #2030FF;
    text-decoration: none;
}

a:visited {
    color: #2030FF;
    text-decoration: none;
}

a:active {
    color: #00FFFF;
    text-decoration: none;
}

a:hover {
    color: #00FF00;
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

#master {
    position: relative;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    border: 0px;
    background-color: #000000;
    text-align: left;
}

#logo {
    position: absolute;
    width: 384px;
    height: 53px;
    top: 0px;
    left: 0px;
    background-color: #000000;
}

#logobg {
    color: #000000;
    position: absolute;
    height: 53px;
    width: 100%;
    background-color: #000000;
    background-image: url('logobg.png');
    background-repeat: repeat;
}

#navbar {
    color: #0000FF;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    height: 12px;
    line-height: 12px;
    right: 5%;
    top: 32px;
    text-align: right;
    background-color: #000000;
}

#bodywrap {
    background-color: #000000;
    width: 100%;
    margin-top: 70px;
    position: absolute;
    padding: 0px;
}

#sidecol {
    color: #102084;
    font-weight: bold;
    line-height: 18px;
    width: 150px;
    float: left;
    background-color: #000000;
}

#gf {
    font-weight: normal;
    line-height: normal;
    margin-left: 10px;
    background-color: #000000;
}

#maincol {
    color: #CCCCCC;
    margin-left: 190px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #000000;
}

#footer {
    color: #BDBDBD;
    height: 30px;
    clear: both;
    padding: 10px;
    text-align: center;
    background-color: #000000;
    font-size: 10px;
}

.filename {
    font-weight: bold;
    text-indent: 30px;
}

.filelinks {
    color: #102084;
    text-indent: 45px;
}

.subheader {
    text-indent: 30px;
}

.subfilename {
    font-weight: bold;
    text-indent: 60px;
}

.subfilelinks {
    color: #102084;
    text-indent: 75px;
}

.myh3 {
    font-size: 14px;
    font-weight: bold;
}

.myh2 {
    font-size: 16px;
    font-weight: bold;
}

.rndgrad_box {
    background: #000020 url(rndgrad_grad.png) repeat-x top left;
}

.rndgrad_top div {
    background: url(rndgrad_tl.png) no-repeat top left;
}

.rndgrad_top {
    background: transparent url(rndgrad_tr.png) no-repeat top right;
}

.rndgrad_bottom div {
    background: url(rndgrad_bl.png) no-repeat bottom left;
}

.rndgrad_bottom {
    background: transparent url(rndgrad_br.png) no-repeat bottom right;
}

.rndgrad_top div, .rndgrad_top, .rndgrad_bottom div, .rndgrad_bottom {
    width: 100%;
    height: 8px;
}

.rndgrad_body {
    margin: 0px 20px;
}
