//---------------------------------------------------------------------------
//
// Name:        abgx360guiApp.rc
// Author:      Seacrest
// Created:     10/8/2007 9:06:46 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
